.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 8.871795rem;
  height: 0.974359rem;
  margin-top: 0.641026rem;
}
.search-container::after {
  position: absolute;
  left: 0.333333rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: "iconfont";
  content: '\e632';
  font-size: 0.333333rem;
}
.search-container .search-input {
  width: 7.641026rem;
  height: 100%;
  line-height: 0.461538rem;
  background: #e4e7e8;
  border-radius: 0.487179rem;
  padding-left: 0.846154rem;
  font-size: 0.333333rem;
  color: #999;
}
.search-container .search-cancel {
  display: block;
  font-weight: bold;
  font-size: 0.435897rem;
  color: #4A4A4A;
  margin-left: 0.358974rem;
}
.search-history-container {
  width: 8.871795rem;
  margin-top: 0.487179rem;
}
.search-history-container dl {
  margin: 0;
}
.search-history-container dl dt {
  font-size: 0.384615rem;
  font-weight: 800;
  color: #000000;
}
.search-history-container dl dd {
  display: inline-block;
  margin: 0;
  margin-top: 0.205128rem;
  height: 0.692308rem;
  color: #413d3d;
  font-family: PingFang SC, PingFang SC-Normal;
  font-size: 0.307692rem;
  background-color: #E5E7E8;
  border-radius: 0.333333rem;
  padding: 0.179487rem 0.282051rem;
}






