@font-face {
  font-family: "iconfont"; /* Project id 4242482 */
  src: url('iconfont.woff2?t=1694276376397') format('woff2'),
       url('iconfont.woff?t=1694276376397') format('woff'),
       url('iconfont.ttf?t=1694276376397') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaiguanclose:before {
  content: "\e66b";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-gengduo:before {
  content: "\e624";
}

.icon-a-fenxiang2:before {
  content: "\e620";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-31liebiao:before {
  content: "\e600";
}

.icon-weibiaoti1:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-xulie:before {
  content: "\e672";
}

.icon-detectc:before {
  content: "\e6f9";
}

.icon-detect:before {
  content: "\e6fa";
}

.icon-saomiaoerweima:before {
  content: "\e62f";
}

.icon-saomiao1:before {
  content: "\e669";
}

.icon-saomiao3:before {
  content: "\100f2";
}

.icon-saomiao:before {
  content: "\e60b";
}

